.bgGray p{
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    color: #474747;
}

.bgGray h3{
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 38px;
    color: #474747;
}


