.bg {
    background-color: #F9F8FE;
}

.bg p {
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    color: #474747;
}

.bg h3 {
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 38px;
    color: #474747;
}

h3 {
    text-align: start;
}