.bg {
    background-color: #F9F8FE;
    }
    
    
  .iconeslinks a{
    text-decoration: none;
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    color: #474747;
}

.h3dest{
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 38px;
    color: #474747;
}

.iconeslinks a:hover {
    color: #C92071;
    text-decoration: underline;
}






