.titulolinkpdt {
    display: flex;
    justify-content: space-between;
};

.sapatoalta {
    display: flex;
    justify-content: space-around;
};

.precoantigo {
    color: #474747;
    text-decoration: solid line-through;
};