#conjlogo{
    display: flex;
    width: 253px;
    height: 44px;
}

#vetor{
    height: 33px;
    width: 33px;
    margin-right: 5px;
    margin-top: 5px;
}

#logo{
    width: 212px;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 44px;
    letter-spacing: -0.01em;
    color: #C92071;
}

.conjCadastro{
    display: flex;
    justify-content: space-between;
    margin-left: 48px;
    align-items: center;
    margin-top: 5px;
}

.cadastro{
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.75px;
    text-decoration-line: underline;
    color: #474747;
}

.cadastro:hover{
    color: #C92071;
}


