.elipse{
    width: 466px;
    height: 466px;
    background-image: linear-gradient(180deg, rgba(66, 0, 255, 0.25) -40.67%, rgba(255, 255, 255, 0) 60%);
    border-radius: 50%;
    display: flex;
    justify-content: center;
}

.tenisoferta{
    width: 573px;
    height: 330px;
    margin-top: 28px;
}

.linkoferta{
    text-decoration: none;
    color: rgba(201, 32, 113, 1);
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0.75px;
    text-align: left;
}

.titulo{
    font-size: 48px;
    color: #474747;
}

.descricao{
    font-size: 16px;
    line-height: 28px;
    color: #474747;
}
