.textprimary{
    color: #474747;
    font-size: 24px;
}

.textsecundary{
    color: #1F1F1F;
}

.papers{
    display: flex;
    justify-content: space-between;
    
}

.textoesq{
    border: #1F1F1F solid 1px;
}

.textoesq h3{
    font-size: 32px;
}

.imgdir{
    border: #1F1F1F solid 1px;
}